USE [sho_dw]
GO
/****** Object:  Table [dbo].[sls_dly_trs_tyly_agg]    Script Date: 10/26/2018 4:01:08 PM ******/
DROP TABLE [dbo].[sls_dly_trs_tyly_agg]
GO
/****** Object:  Table [dbo].[sls_dly_trs_tyly_agg]    Script Date: 10/26/2018 4:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sls_dly_trs_tyly_agg](
	[fiscal_year_nbr] [int] NULL,
	[fiscal_week_nbr] [int] NULL,
	[fiscal_month_nbr] [int] NULL,
	[trs_dt] [date] NULL,
	[POS] [int] NULL,
	[EIS] [int] NULL,
	[SN] [varchar](200) NULL,
	[District_Number] [int] NULL,
	[Region] [int] NULL,
	[Store_Format] [varchar](200) NULL,
	[Date_Opened] [date] NULL,
	[Franchise] [int] NULL,
	[Franchise_8] [varchar](200) NULL,
	[Store_Classification] [varchar](200) NULL,
	[Closed_Date] [date] NULL,
	[comparable_last_year_calendar_dt] [date] NULL,
	[location] [int] NULL,
	[comp_sales_ty] [float] NULL,
	[comp_sales_ly] [float] NULL,
	[Net_Sales] [float] NULL,
	[Net_Units] [int] NULL,
	[Net_Sales_LY] [float] NULL,
	[Net_Units_LY] [int] NULL,
	[Kenmore_Sales] [float] NULL,
	[Total_Md_Amt] [float] NULL,
	[Kenmore_Sales_LY] [float] NULL,
	[Total_Md_Amt_LY] [float] NULL,
	[Craftsman_Sales] [float] NULL,
	[Carftsman_Units] [int] NULL,
	[Craftsman_Sales_LY] [float] NULL,
	[Carftsman_Unit_LY] [int] NULL,
	[PA_Sales] [float] NULL,
	[PA_Units] [int] NULL,
	[PA_Sales_LY] [float] NULL,
	[PA_Units_LY] [int] NULL,
	[PAM_Sales] [float] NULL,
	[PAM_Units] [int] NULL,
	[PAM_Sales_LY] [float] NULL,
	[PAM_Units_LY] [int] NULL,
	[SPP_Sales] [float] NULL,
	[SPP_Units] [int] NULL,
	[SPP_Sales_LY] [float] NULL,
	[SPP_Units_LY] [int] NULL,
	[Lease_Sales] [float] NULL,
	[Lease_Units] [int] NULL,
	[Lease_Sales_LY] [float] NULL,
	[Lease_Units_LY] [int] NULL,
	[Bulk_Sales] [float] NULL,
	[Bulk_Units] [int] NULL,
	[Bulk_Sales_LY] [float] NULL,
	[Bulk_Units_LY] [int] NULL,
	[Sears_Credit_Sales] [float] NULL,
	[Other_Credit_Sales] [float] NULL,
	[Sears_Credit_Sales_LY] [float] NULL,
	[Other_Credit_Sales_LY] [float] NULL,
	[Avg_Ticket_sales] [float] NULL,
	[Avg_Ticket_Units] [int] NULL,
	[Avg_Ticket_sales_LY] [float] NULL,
	[Avg_Ticket_Units_LY] [int] NULL,
	[Plan_Amt] [float] NULL,
	[Forecast_Amt] [float] NULL,
	[Plan_Amt_LY] [float] NULL,
	[Forecast_Amt_LY] [float] NULL,
	[gp_sales] [float] NULL,
	[gp_sales_LY] [float] NULL
) ON [PRIMARY]
GO
