USE [sho_dw]
GO
/****** Object:  View [sales].[vw_daily_fmt_div_sales_tyly_fact]    Script Date: 10/26/2018 4:01:08 PM ******/
DROP VIEW [sales].[vw_daily_fmt_div_sales_tyly_fact]
GO
/****** Object:  View [sales].[vw_daily_fmt_div_sales_tyly_fact]    Script Date: 10/26/2018 4:01:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create view [sales].[vw_daily_fmt_div_sales_tyly_fact] 
As
SELECT		Q1.sho_location_format_sk_id, 
			Q1.trs_dt_sk_id,
			Q1.cat_div_sk_id, 
			Q1.trs_dt, 
			Q1.fiscal_year_nbr,
			Q1.fiscal_month_nbr,
			Q1.fiscal_week_nbr,
			Q1.fiscal_month_name,
			Q1.store_group_name, 
			Q1.store_supergroup_name, 
			Q1.location_format_name,
			Q1.location_format_manager, 
			Q1.location_format,
			Q1.div_nbr, 
			Q1.div_name,
			Q1.cat_nbr, 
			Q1.cat_name,
			sum(Q1.comp_sales) as comp_sales, 
			sum(Q1.comp_sales_ly) as comp_sales_ly, 
			sum(Q1.net_sales) as net_sales, 
			sum(Q1.net_units) as net_units,
			max(COALESCE (sp_ty.plan_amt, 0)) as plan_sales,
			max(COALESCE (sp_ty.forecast_amt, 0)) as forecast_sales,
			sum(Q1.kenmore_sales) as kenmore_sales, 
			sum(Q1.kenmore_units) as kenmore_units, 
			sum(Q1.total_md_amt) as total_md_amt, 
			sum(Q1.craftsman_sales) as craftsman_sales, 
			sum(Q1.craftsman_units) as craftsman_units, 
			sum(Q1.diehard_sales) as diehard_sales, 
			sum(Q1.diehard_units) as diehard_units, 
			sum(Q1.guardsman_sales) as guardsman_sales, 
			sum(Q1.guardsman_units) as guardsman_units, 
			sum(Q1.ha_sales) as ha_sales, 
			sum(Q1.ha_units) as ha_units, 
			sum(Q1.pa_sales) as pa_sales, 
			sum(Q1.pa_units) as pa_units, 
			sum(Q1.lease_sales) as lease_sales, 
			sum(Q1.lease_units) as lease_units, 
			sum(Q1.lease_comp_sales) as lease_comp_sales,
			sum(Q1.pam_sales) as pam_sales, 
			sum(Q1.pam_units) as pam_units,
			sum(Q1.net_sales_ly) as net_sales_ly, 
			sum(Q1.net_units_ly) as net_units_ly, 
			sum(Q1.plan_sales_ly) as plan_sales_ly,
			sum(Q1.forecast_sales_ly) as forecast_sales_ly, 
			sum(Q1.kenmore_sales_ly) as kenmore_sales_ly, 
			sum(Q1.kenmore_units_ly) as kenmore_units_ly, 
			sum(Q1.total_md_amt_ly) as total_md_amt_ly, 
			sum(Q1.craftsman_sales_ly) as craftsman_sales_ly, 
			sum(Q1.craftsman_units_ly) as craftsman_units_ly, 
			sum(Q1.diehard_sales_ly) as diehard_sales_ly, 
			sum(Q1.diehard_units_ly) as diehard_units_ly, 
			sum(Q1.guardsman_sales_ly) as guardsman_sales_ly, 
			sum(Q1.guardsman_units_ly) as guardsman_units_ly, 
			sum(Q1.ha_sales_ly) as ha_sales_ly, 
			sum(Q1.ha_units_ly) as ha_units_ly, 
			sum(Q1.pa_sales_ly) as pa_sales_ly, 
			sum(Q1.pa_units_ly) as pa_units_ly, 
			sum(Q1.lease_sales_ly) as lease_sales_ly, 
			sum(Q1.lease_units_ly) as lease_units_ly, 
			sum(Q1.lease_comp_sales_ly) as lease_comp_sales_ly,
			sum(Q1.pam_sales_ly) as pam_sales_ly, 
			sum(Q1.pam_units_ly) as pam_units_ly,
			sum(Q1.gp_sales) as gp_sales,
			sum(Q1.gp_sales_ly) as gp_sales_ly
							

FROM	( 
		SELECT        	fd.sho_location_format_sk_id, 
						cd.calendar_dt_sk_id as trs_dt_sk_id,
						dd.cat_div_sk_id, 
						cd.calendar_dt as trs_dt, 
						cd.fiscal_year_nbr,
						cd.fiscal_month_nbr,
						cd.fiscal_week_nbr,
						cd.fiscal_month_name,
						fd.store_group_name, 
						fd.store_supergroup_name, 
						fd.location_format_name,
						fd.location_format_manager, 
						fd.location_format_cd as location_format, 
						dd.div_nbr, 
						dd.div_name,
						dd.cat_nbr, 
						dd.cat_name,
						sum(CASE WHEN cd.comparable_last_year_calendar_dt >= ld.open_dt THEN coalesce(sf_ty.net_sales,0) ELSE 0 END) AS comp_sales, 
						sum(0) AS comp_sales_ly, 
						SUM(COALESCE(sf_ty.net_sales, 0)) AS net_sales, 
						SUM(COALESCE(sf_ty.net_units, 0)) AS net_units,
						SUM(COALESCE(sf_ty.kenmore_sales, 0)) AS kenmore_sales, 
						SUM(COALESCE(sf_ty.kenmore_units, 0)) AS kenmore_units, 
						SUM(COALESCE(sf_ty.total_md_amt, 0)) AS total_md_amt, 
						SUM(COALESCE(sf_ty.craftsman_sales, 0)) AS craftsman_sales, 
						SUM(COALESCE(sf_ty.craftsman_units, 0)) AS craftsman_units, 
						SUM(COALESCE(sf_ty.diehard_sales, 0)) AS diehard_sales, 
						SUM(COALESCE(sf_ty.diehard_units, 0)) AS diehard_units, 
						SUM(COALESCE(sf_ty.guardsman_sales, 0)) AS guardsman_sales, 
						SUM(COALESCE(sf_ty.guardsman_units, 0)) AS guardsman_units, 
						SUM(COALESCE(sf_ty.avg_ticket_amt, 0)) AS ha_sales, 
						SUM(COALESCE(sf_ty.avg_ticket_units, 0)) AS ha_units, 
						SUM(COALESCE(sf_ty.pa_sales, 0)) AS pa_sales, 
						SUM(COALESCE(sf_ty.pa_units, 0)) AS pa_units, 
						SUM(COALESCE(sf_ty.lease_sales, 0)) AS lease_sales, 
						SUM(COALESCE(sf_ty.lease_units, 0)) AS lease_units, 
						sum(CASE WHEN cd.comparable_last_year_calendar_dt >= ld.open_dt THEN coalesce(sf_ty.lease_sales,0) ELSE 0 END) AS lease_comp_sales, 
						SUM(COALESCE(sf_ty.pam_sales, 0)) AS pam_sales, 
						SUM(COALESCE(sf_ty.pam_units, 0)) AS pam_units,
						sum(0) AS net_sales_ly, 
						sum(0) AS net_units_ly, 
						SUM(0) as plan_sales_ly,
						SUM(0) as forecast_sales_ly, 
						sum(0) AS kenmore_sales_ly, 
						sum(0) AS kenmore_units_ly, 
						sum(0) AS total_md_amt_ly, 
						sum(0) AS craftsman_sales_ly, 
						sum(0) AS craftsman_units_ly, 
						sum(0) AS diehard_sales_ly, 
						sum(0) AS diehard_units_ly, 
						sum(0) AS guardsman_sales_ly, 
						sum(0) AS guardsman_units_ly, 
						sum(0) AS ha_sales_ly, 
						sum(0) AS ha_units_ly, 
						sum(0) AS pa_sales_ly, 
						sum(0) AS pa_units_ly, 
						sum(0) AS lease_sales_ly, 
						sum(0) AS lease_units_ly, 
						sum(0) AS lease_comp_sales_ly, 
						sum(0) AS pam_sales_ly, 
						sum(0) AS pam_units_ly,
						SUM(COALESCE(sf_ty.gross_profit, 0)) AS gp_sales,
						sum(0) as gp_sales_ly
		FROM            fact.sho_sales sf_ty 
							INNER JOIN dim.location AS ld ON sf_ty.location_sk_id = ld.location_sk_id 
							INNER JOIN dim.region lr ON ld.region_sk_id = lr.region_sk_id
							INNER JOIN dim.sho_location_formats fd ON lr.sho_location_format_sk_id = fd.sho_location_format_sk_id 
							INNER JOIN dim.calendar cd ON sf_ty.trs_dt_sk_id = cd.calendar_dt_sk_id
							INNER JOIN dim.category_division dd ON sf_ty.prod_cat_div_sk_id = dd.cat_div_sk_id 
							
		GROUP BY 		fd.sho_location_format_sk_id, 
						cd.calendar_dt_sk_id,
						dd.cat_div_sk_id, 
						cd.calendar_dt, 
						cd.fiscal_year_nbr,
						cd.fiscal_month_nbr,
						cd.fiscal_week_nbr,
						cd.fiscal_month_name,
						fd.store_group_name, 
						fd.store_supergroup_name, 
						fd.location_format_name,
						fd.location_format_manager,
						fd.location_format_cd,
						dd.div_nbr, 
						dd.div_name,
						dd.cat_nbr, 
						dd.cat_name

		UNION ALL
		SELECT        	fd.sho_location_format_sk_id, 
						cd.calendar_dt_sk_id as trs_dt_sk_id,
						dd.cat_div_sk_id, 
						cd.calendar_dt as trs_dt, 
						cd.fiscal_year_nbr,
						cd.fiscal_month_nbr,
						cd.fiscal_week_nbr,
						cd.fiscal_month_name,
						fd.store_group_name, 
						fd.store_supergroup_name, 
						fd.location_format_name,
						fd.location_format_manager,
						fd.location_format_cd as location_format, 
						dd.div_nbr, 
						dd.div_name,
						dd.cat_nbr, 
						dd.cat_name,
						sum(0) AS comp_sales, 
						sum(CASE WHEN cd.calendar_dt <= ld.close_dt or ld.close_dt = '1900-01-01' THEN coalesce(sf_ly.net_sales,0) ELSE 0 END) AS comp_sales_ly, 
						SUM(0) AS net_sales, 
						SUM(0) AS net_units, 
						SUM(0) AS kenmore_sales, 
						SUM(0) AS kenmore_units, 
						SUM(0) AS total_md_amt, 
						SUM(0) AS craftsman_sales, 
						SUM(0) AS craftsman_units, 
						SUM(0) AS diehard_sales, 
						SUM(0) AS diehard_units, 
						SUM(0) AS guardsman_sales, 
						SUM(0) AS guardsman_units, 
						SUM(0) AS avg_ticket_amt, 
						SUM(0) AS avg_ticket_units, 
						SUM(0) AS pa_sales, 
						SUM(0) AS pa_units, 
						SUM(0) AS lease_sales, 
						SUM(0) AS lease_units, 
						SUM(0) AS lease_comp_sales, 
						SUM(0) AS pam_sales, 
						SUM(0) AS pam_units,
						SUM(COALESCE(sf_ly.net_sales, 0)) AS net_sales_ly, 
						SUM(COALESCE(sf_ly.net_units, 0)) AS net_units_ly, 
						SUM(0) as plan_sales_ly,
						SUM(0) as forecast_sales_ly, 
						SUM(COALESCE(sf_ly.kenmore_sales, 0)) AS kenmore_sales_ly, 
						SUM(COALESCE(sf_ly.kenmore_units, 0)) AS kenmore_units_ly, 
						SUM(COALESCE(sf_ly.total_md_amt, 0)) AS total_md_amt_ly, 
						SUM(COALESCE(sf_ly.craftsman_sales, 0)) AS craftsman_sales_ly, 
						SUM(COALESCE(sf_ly.craftsman_units, 0)) AS craftsman_units_ly, 
						SUM(COALESCE(sf_ly.diehard_sales, 0)) AS diehard_sales_ly, 
						SUM(COALESCE(sf_ly.diehard_units, 0)) AS diehard_units_ly, 
						SUM(COALESCE(sf_ly.guardsman_sales, 0)) AS guardsman_sales_ly, 
						SUM(COALESCE(sf_ly.guardsman_units, 0)) AS guardsman_units_ly, 
						SUM(COALESCE(sf_ly.avg_ticket_amt, 0)) AS avg_ticket_amt_ly, 
						SUM(COALESCE(sf_ly.avg_ticket_units, 0)) AS avg_ticket_units_ly, 
						SUM(COALESCE(sf_ly.pa_sales, 0)) AS pa_sales_ly, 
						SUM(COALESCE(sf_ly.pa_units, 0)) AS pa_units_ly, 
						SUM(COALESCE(sf_ly.lease_sales, 0)) AS lease_sales_ly, 
						SUM(COALESCE(sf_ly.lease_units, 0)) AS lease_units_ly, 
						sum(CASE WHEN cd.calendar_dt <= ld.close_dt or ld.close_dt = '1900-01-01' THEN coalesce(sf_ly.net_sales,0) ELSE 0 END) AS lease_comp_sales_ly, 
						SUM(COALESCE(sf_ly.pam_sales, 0)) AS pam_sales_ly, 
						SUM(COALESCE(sf_ly.pam_units, 0)) AS pam_units_ly,
						SUM(0) AS gp_sales,
						SUM(COALESCE(sf_ly.gross_profit, 0)) as gp_sales_ly
			FROM            fact.sho_sales sf_ly
							INNER JOIN dim.location AS ld ON sf_ly.location_sk_id = ld.location_sk_id 
							INNER JOIN dim.region lr ON ld.region_sk_id = lr.region_sk_id
							INNER JOIN dim.sho_location_formats fd ON lr.sho_location_format_sk_id = fd.sho_location_format_sk_id 
							INNER JOIN dim.calendar cd ON sf_ly.trs_dt_sk_id = cd.comparable_last_year_calendar_dt_sk_id
							INNER JOIN dim.category_division dd ON sf_ly.prod_cat_div_sk_id = dd.cat_div_sk_id 
			GROUP BY 		fd.sho_location_format_sk_id, 
						cd.calendar_dt_sk_id,
						dd.cat_div_sk_id, 
						cd.calendar_dt, 
						cd.fiscal_year_nbr,
						cd.fiscal_month_nbr,
						cd.fiscal_week_nbr,
						cd.fiscal_month_name,
						fd.store_group_name, 
						fd.store_supergroup_name, 
						fd.location_format_name,
						fd.location_format_manager, 
						fd.location_format_cd,
						dd.div_nbr, 
						dd.div_name,
						dd.cat_nbr, 
						dd.cat_name
	) Q1
	
	LEFT OUTER JOIN fact.sho_sales_plan_forecast_by_div_format sp_ty ON Q1.sho_location_format_sk_id = sp_ty.location_format_sk_id and Q1.trs_dt_sk_id = sp_ty.plan_dt_sk_id and Q1.cat_div_sk_id  = sp_ty.cat_div_sk_id

GROUP BY Q1.sho_location_format_sk_id, 
			Q1.trs_dt_sk_id,
			Q1.cat_div_sk_id, 
			Q1.trs_dt, 
			Q1.fiscal_year_nbr,
			Q1.fiscal_month_nbr,
			Q1.fiscal_week_nbr,
			Q1.fiscal_month_name,
			Q1.store_group_name, 
			Q1.store_supergroup_name, 
			Q1.location_format_name,
			Q1.location_format_manager, 
			Q1.location_format,
			Q1.div_nbr, 
			Q1.div_name,
			Q1.cat_nbr, 
			Q1.cat_name
	



GO
