USE [sho_staging]
GO
/****** Object:  Table [dbo].[DeferredNonDeferredsalesHeaderResults653]    Script Date: 10/24/2018 4:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeferredNonDeferredsalesHeaderResults653](
	[Internal ID] [varchar](50) NULL,
	[*] [varchar](50) NULL,
	[Date Created] [varchar](50) NULL,
	[Date Closed] [varchar](50) NULL,
	[Document Number] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Transaction Source] [varchar](50) NULL,
	[Name (no hierarchy)] [varchar](50) NULL,
	[Store Type] [varchar](50) NULL,
	[Subtotal] [varchar](50) NULL
) ON [PRIMARY]
GO
