USE [sho_staging]
GO
/****** Object:  Table [dbo].[IMU-Lookup_04112018]    Script Date: 10/4/2018 3:52:58 PM ******/
DROP TABLE [dbo].[IMU-Lookup_04112018]
GO
/****** Object:  Table [dbo].[IMU-Lookup_04112018]    Script Date: 10/4/2018 3:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMU-Lookup_04112018](
	[Store_Format] [varchar](50) NULL,
	[Div] [varchar](50) NULL,
	[Divname] [varchar](50) NULL,
	[div_divname] [varchar](50) NULL,
	[IMU_Current_Week] [varchar](50) NULL,
	[Week_1] [varchar](50) NULL,
	[Week_2] [varchar](50) NULL,
	[Week_3] [varchar](50) NULL,
	[Week_4] [varchar](50) NULL,
	[Week_5] [varchar](50) NULL,
	[MTD] [varchar](50) NULL,
	[Cost_Current_Week] [varchar](50) NULL,
	[Week_1_12] [varchar](50) NULL,
	[Week_2_13] [varchar](50) NULL,
	[Week_3_14] [varchar](50) NULL,
	[Week_4_15] [varchar](50) NULL,
	[Week_5_16] [varchar](50) NULL,
	[MTD_17] [varchar](50) NULL,
	[Customer_Adjustment_Current_Week] [varchar](50) NULL,
	[Week_1_19] [varchar](50) NULL,
	[Week_2_20] [varchar](50) NULL,
	[Week_3_21] [varchar](50) NULL,
	[Week_4_22] [varchar](50) NULL,
	[Week_5_23] [varchar](50) NULL,
	[MTD_24] [varchar](50) NULL
) ON [PRIMARY]
GO
