USE [sho_staging]
GO
/****** Object:  Table [dbo].[DeferredNonDeferredsalesResults848]    Script Date: 10/26/2018 4:02:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeferredNonDeferredsalesResults848](
	[Internal ID] [varchar](50) NULL,
	[*] [varchar](50) NULL,
	[Date Created] [varchar](50) NULL,
	[Date Closed] [varchar](50) NULL,
	[Document Number] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Transaction Source] [varchar](50) NULL,
	[Promotion] [varchar](50) NULL,
	[Applied Promotion Status] [varchar](50) NULL,
	[Name (no hierarchy)] [varchar](50) NULL,
	[Store Type] [varchar](50) NULL,
	[Item] [varchar](50) NULL,
	[Division #] [varchar](50) NULL,
	[Amount (Net)] [varchar](50) NULL
) ON [PRIMARY]
GO
