USE [sho_staging]
GO
/****** Object:  View [dbo].[td_sls_dly_bulk_vw]    Script Date: 9/11/2018 9:33:57 AM ******/
DROP VIEW [dbo].[td_sls_dly_bulk_vw]
GO
/****** Object:  View [dbo].[td_sls_dly_bulk_vw]    Script Date: 9/11/2018 9:33:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---use teradata_raw
  create view [dbo].[td_sls_dly_bulk_vw] as (select *  from 
(select  TRS_DT,LOC_NO, bulk_unit ,bulk_sales from  td_sales_dly_bulk_sales  
union  all
 select   TRS_DT,LOC_NO, bulk_unit ,bulk_sales from  td_sales_dly_bulk_sales_ly 
) bulk_sales)
GO
