USE [sho_staging]
GO
/****** Object:  Table [dbo].[Conversion_055]    Script Date: 10/26/2018 4:02:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversion_055](
	[division_nbr] [varchar](3) NULL,
	[division_nbr_delimiter] [varchar](1) NULL,
	[item_nbr] [varchar](5) NULL,
	[item_nbr_delimiter] [varchar](1) NULL,
	[sku_nbr] [varchar](3) NULL,
	[sku_nbr_delimiter] [varchar](1) NULL,
	[transaction_nbr] [varchar](4) NULL,
	[transaction_nbr_delimiter] [varchar](1) NULL,
	[sequence_nbr] [varchar](2) NULL,
	[sequence_nbr_delimiter] [varchar](1) NULL,
	[line_nbr] [varchar](2) NULL,
	[line_nbr_delimiter] [varchar](1) NULL,
	[subline_nbr] [varchar](2) NULL,
	[subline_nbr_delimiter] [varchar](1) NULL,
	[subline_variable_nbr] [varchar](2) NULL,
	[subline_variable_nbr_delimiter] [varchar](1) NULL,
	[item_qty] [varchar](5) NULL,
	[item_qty_delimiter] [varchar](1) NULL,
	[return_type_cd] [varchar](2) NULL,
	[return_type_cd_delimiter] [varchar](1) NULL,
	[regular_price_amt] [varchar](8) NULL,
	[regular_price_amt_delimiter] [varchar](1) NULL,
	[reduced_price_amt] [varchar](8) NULL,
	[reduced_price_amt_delimiter] [varchar](1) NULL,
	[item_desc] [varchar](25) NULL,
	[item_desc_delimiter] [varchar](1) NULL,
	[returned_dt] [varchar](10) NULL,
	[returned_dt_delimiter] [varchar](1) NULL,
	[last_update_dt] [varchar](10) NULL,
	[last_update_dt_delimiter] [varchar](1) NULL,
	[pending_delete_cd] [varchar](1) NULL,
	[pending_delete_cd_delimiter] [varchar](1) NULL,
	[pending_delete_dt] [varchar](10) NULL,
	[pending_delete_dt_delimiter] [varchar](1) NULL,
	[service_status_cd] [varchar](1) NULL,
	[service_status_cd_delimiter] [varchar](1) NULL,
	[service_status_index_cd] [varchar](2) NULL,
	[service_status_index_cd_delimiter] [varchar](1) NULL,
	[previous_service_status_cd] [varchar](1) NULL,
	[previous_service_status_cd_delimiter] [varchar](1) NULL,
	[item_location_cd] [varchar](1) NULL,
	[item_location_cd_delimiter] [varchar](1) NULL,
	[service_type_cd] [varchar](1) NULL,
	[service_type_cd_delimiter] [varchar](1) NULL,
	[associate_nbr] [varchar](6) NULL,
	[associate_nbr_delimiter] [varchar](1) NULL,
	[return_service_reason_cd] [varchar](2) NULL,
	[return_service_reason_cd_delimiter] [varchar](1) NULL,
	[last_status_change_dt] [varchar](10) NULL,
	[last_status_change_dt_delimiter] [varchar](1) NULL,
	[last_cadence_level_change_dt] [varchar](10) NULL,
	[last_cadence_level_change_dt_delimiter] [varchar](1) NULL,
	[suspended_dt] [varchar](10) NULL,
	[suspended_dt_delimiter] [varchar](1) NULL,
	[returned_sales_floor_dt] [varchar](10) NULL,
	[returned_sales_floor_dt_delimiter] [varchar](1) NULL,
	[model_nbr] [varchar](24) NULL,
	[model_nbr_delimiter] [varchar](1) NULL,
	[serial_nbr] [varchar](20) NULL,
	[serial_nbr_delimiter] [varchar](1) NULL,
	[service_order_nbr] [varchar](8) NULL,
	[service_order_nbr_delimiter] [varchar](1) NULL,
	[seasonal_cd] [varchar](1) NULL,
	[seasonal_cd_delimiter] [varchar](1) NULL,
	[cadence_level_cd] [varchar](1) NULL,
	[cadence_level_cd_delimiter] [varchar](1) NULL,
	[outside_cadence_flg] [varchar](1) NULL,
	[outside_cadence_flg_delimiter] [varchar](1) NULL,
	[cadence_level_nbr] [varchar](1) NULL,
	[cadence_level_nbr_delimiter] [varchar](1) NULL,
	[cadence_level_day_nbr] [varchar](3) NULL,
	[cadence_level_day_nbr_delimiter] [varchar](1) NULL,
	[store_nbr] [varchar](5) NULL,
	[store_nbr_delimiter] [varchar](1) NULL,
	[condition_cd] [varchar](1) NULL,
	[condition_cd_delimiter] [varchar](1) NULL,
	[previous_reduced_price_amt] [varchar](8) NULL,
	[previous_reduced_price_amt_delimiter] [varchar](1) NULL,
	[last_action_cd] [varchar](1) NULL,
	[last_action_cd_delimiter] [varchar](1) NULL,
	[add_delete_flg] [varchar](1) NULL,
	[add_delete_flg_delimiter] [varchar](1) NULL,
	[original_return_dt] [varchar](10) NULL,
	[original_return_dt_delimiter] [varchar](1) NULL,
	[original_transaction_nbr] [varchar](4) NULL,
	[original_transaction_nbr_delimiter] [varchar](1) NULL,
	[work_item_flg] [varchar](1) NULL,
	[work_item_flg_delimiter] [varchar](1) NULL,
	[end_of_day_ts] [varchar](19) NULL,
	[end_of_day_ts_delimiter] [varchar](1) NULL,
	[store_unit_type_cd] [varchar](2) NULL,
	[store_unit_type_cd_delimiter] [varchar](1) NULL,
	[product_condition_code_1] [varchar](5) NULL,
	[product_condition_code_1_delimiter] [varchar](1) NULL,
	[product_condition_code_2] [varchar](5) NULL,
	[product_condition_code_2_delimiter] [varchar](1) NULL,
	[product_condition_code_3] [varchar](5) NULL,
	[product_condition_code_3_delimiter] [varchar](1) NULL,
	[product_condition_code_4] [varchar](5) NULL,
	[product_condition_code_4_delimiter] [varchar](1) NULL,
	[product_condition_code_5] [varchar](5) NULL,
	[product_condition_code_5_delimiter] [varchar](1) NULL,
	[product_condition_code_6] [varchar](5) NULL,
	[product_condition_code_6_delimiter] [varchar](1) NULL,
	[product_condition_code_7] [varchar](5) NULL,
	[product_condition_code_7_delimiter] [varchar](1) NULL,
	[product_condition_code_8] [varchar](5) NULL,
	[product_condition_code_8_delimiter] [varchar](1) NULL,
	[product_condition_code_9] [varchar](5) NULL,
	[product_condition_code_9_delimiter] [varchar](1) NULL,
	[product_condition_code_10] [varchar](5) NULL,
	[product_condition_code_10_delimiter] [varchar](1) NULL,
	[item_condition_desc] [varchar](50) NULL,
	[uid_cd] [varchar](8) NULL
) ON [PRIMARY]
GO
