USE [sho_staging]
GO
ALTER TABLE [teradata].[sho_mstr_locn] DROP CONSTRAINT [DF__sho_mstr___rec_l__2DE6D218]
GO
/****** Object:  Table [teradata].[sho_mstr_locn]    Script Date: 9/11/2018 9:33:57 AM ******/
DROP TABLE [teradata].[sho_mstr_locn]
GO
/****** Object:  Table [teradata].[sho_mstr_locn]    Script Date: 9/11/2018 9:34:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [teradata].[sho_mstr_locn](
	[pos_nbr] [int] NULL,
	[eis_nbr] [int] NULL,
	[locn_city] [varchar](20) NULL,
	[locn_state] [varchar](2) NULL,
	[locn_zip] [varchar](7) NULL,
	[open_dt] [datetime] NULL,
	[close_dt] [datetime] NULL,
	[rgn_ovrhd_nbr] [int] NOT NULL,
	[dm_ovrhd_nbr] [int] NOT NULL,
	[fmt_type] [varchar](10) NULL,
	[fmt_sub_type] [varchar](2) NULL,
	[fmt_desc] [varchar](21) NULL,
	[rec_load_dtm] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [teradata].[sho_mstr_locn] ADD  DEFAULT (getdate()) FOR [rec_load_dtm]
GO
